<template>
    <div class="max_center_box">
        <el-form class="login-content-form">
            <el-form-item>
                <el-input type="text" placeholder="请输入账号" v-model="ruleForm.usernumber" clearable
                          autocomplete="off">
                </el-input>
            </el-form-item>
            <el-form-item>
                        <el-input type="text"
                                  placeholder="请输入密码" v-model="ruleForm.pwd" clearable autocomplete="off">
                        </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" class="login-content-submit" round @click="onSignIn" >
                    <span>登录</span>
                </el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script lang="ts">
    import { toRefs, reactive, defineComponent, computed, getCurrentInstance, onMounted } from 'vue';
    import { useRoute, useRouter } from 'vue-router';
    import { initFrontEndControlRoutes } from '/@/router/frontEnd';
    import { initBackEndControlRoutes } from '/@/router/backEnd';
    import { ElMessage } from 'element-plus';
    import { LoginIn } from '/@/api/login';

    import { Session } from '/@/utils/storage';
    // import { useStore } from '../../../store/index';
    import { useStore } from '/@/store/index.ts';
    export default defineComponent({
        name: "index",
        setup(){
            const route = useRoute();
            const router = useRouter();
            const store = useStore();
            const state = reactive({
                ruleForm: {
                    usernumber: "",
                    pwd: "",
                    "programid": 26
                },
                menuList:[],
                token:'',
            });
            //登录
            const onSignIn = async () => {
                const res = await LoginIn(state.ruleForm)
                // 存储 token 到浏览器缓存
                Session.set('token', res.token);
                // 存储用户信息到浏览器缓存
                const userInfos = {
                    username : res.username,
                    usernumber:res.usernumber,
                    depname:res.depname,
                }
                Session.set('userInfos', userInfos);
                debugger
                const menuList = res.menulist
                Session.set('menuList', menuList);

                store.dispatch('userInfos/setUserInfos', userInfos);
                store.dispatch('userInfos/setMlistinfos', menuList);
                if (res.success) {
                    initBackEndControlRoutes();
                    signInSuccess();
                }
                //     // 前端控制路由，2、请注意执行顺序
                //     await initFrontEndControlRoutes();
                //     signInSuccess();
                //     let status = 0
                //     sessionStorage.setItem("status", status)
                // } else {
                    // 模拟后端控制路由，isRequestRoutes 为 true，则开启后端控制路由
                    // 添加完动态路由，再进行 router 跳转，否则可能报错 No match found for location with path "/"

                    // 执行完 initBackEndControlRoutes，再执行 signInSuccess

                // }
            }
            // 登录成功后的跳转
            const signInSuccess = () => {
                // 添加完动态路由，再进行 router 跳转，否则可能报错 No match found for location with path "/"
                // 如果是复制粘贴的路径，非首页/登录页，那么登录成功后重定向到对应的路径中
                if (route.query?.redirect) {
                    router.push({
                        path: route.query?.redirect,
                        query: Object.keys(route.query?.params).length > 0 ? JSON.parse(route.query?.params) : '',
                    });
                } else {
                    router.push('/');
                }
                // 登录成功提示
                // setTimeout(() => {
                //     // 关闭 loading
                //     // state.loading.signIn = true;
                //     ElMessage.success('登陆成功');
                //     // 修复防止退出登录再进入界面时，需要刷新样式才生效的问题，初始化布局样式等(登录的时候触发，目前方案)
                //     proxy.mittBus.emit('onSignInClick');
                // }, 300);
            };
            return {
                onSignIn,
                signInSuccess,
                ...toRefs(state),
            };
        }
    })
</script>

<style scoped lang="scss">
    .max_center_box {
        width: 100%;
        /*min-height: 100%;*/
        /*background: #f0f2f5 url('../../assets/pageback@2x.png') no-repeat;*/
        /*background-size: cover;*/
        display: flex;
        .login-content-form {
            width: 500px;
            align-self: center;
            margin: 10% auto;
            /*margin-top: 20px;*/
            // background-color: pink;
            border: 1px solid skyblue;
            padding: 20px;
            .login-content-password {
                display: inline-block;
                width: 25px;
                cursor: pointer;

                &:hover {
                    color: #909399;
                }
            }

            .login-content-code {
                width: 100px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                img {
                    width: 100px;
                    height: 40px;
                }


                .login-content-code-img {
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    background-color: #ffffff;
                    border: 1px solid rgb(220, 223, 230);
                    color: #333;
                    font-size: 16px;
                    font-weight: 700;
                    // letter-spacing: 5px;
                    // text-indent: 5px;
                    text-align: center;
                    cursor: pointer;
                    transition: all ease 0.2s;
                    border-radius: 4px;
                    user-select: none;

                    &:hover {
                        border-color: #c0c4cc;
                        transition: all ease 0.2s;
                    }
                }
            }

            .login-content-submit {
                width: 50%;
                letter-spacing: 2px;
                font-weight: 300;
                margin: 10px auto 0px auto;
                border: none;
                background: #CE3E31;
            }
        }
    }
</style>