<template>
	<el-container class="layout-container flex-center">
		<div style="margin-bottom: 5px;">
			<Header />
		</div>
		

		<el-container class="layout-mian-height-50">
			<div class="collpase">
				<div @click="onThemeConfigChange" class="layout-navbars-breadcrumb-icon">
					<!-- <SvgIcon :class="getThemeConfig.isCollapse===false?'collpase-active':'collpase-open'"
						:name="getThemeConfig.isCollapse===false? 'ele-Expand' : 'ele-Fold'" :size="16" /> -->
						
							<el-icon v-if="getThemeConfig.isCollapse===true"><Expand /></el-icon>
							<el-icon v-if="getThemeConfig.isCollapse===false"><Fold /></el-icon>
					<div :class="!getThemeConfig.isCollapse?'text-active':'text-open'"></div>
				</div>
				<Aside />
			</div>


			<div class="flex-center layout-backtop">
				<!-- <TagsView v-if="getThemeConfig.isTagsview" /> -->
				<Main />
			</div>
		</el-container>
		<el-backtop target=".layout-backtop .el-main .el-scrollbar__wrap"></el-backtop>
	</el-container>
</template>

<script lang="ts">
import { computed } from 'vue';
import { Local } from '/@/utils/storage';
import { useStore } from '/@/store/index';
import Aside from '/@/layout/component/aside.vue';
import Header from '/@/layout/component/header.vue';
import Main from '/@/layout/component/main.vue';
import TagsView from '/@/layout/navBars/tagsView/tagsView.vue';
export default {
	name: 'layoutClassic',
	components: { Aside, Header, Main, TagsView },
	setup() {
		const store = useStore();
		// 获取布局配置信息
		const getThemeConfig = computed(() => {
			console.log(store.state.themeConfig.themeConfig.isCollapse)
			return store.state.themeConfig.themeConfig;
		});
		const onThemeConfigChange = () => {
			store.state.themeConfig.themeConfig.isCollapse = !store.state.themeConfig.themeConfig.isCollapse;
			setLocalThemeConfig();
		};
		const setLocalThemeConfig = () => {
			Local.remove('themeConfig');
			Local.set('themeConfig', getThemeConfig.value);
		};
		return {
			getThemeConfig,
			onThemeConfigChange,
		};
	},
};
</script>
<style lang="scss" scoped>
.collpase {
	.layout-navbars-breadcrumb-icon {
		height: 50px;
		font-size: 16px;
		font-family: PingFang SC;
		font-weight: bold;
		color: #000000;
		line-height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
		background-color: #FFFFFF;
	}

	.collpase-active {
		transition: 0.3s ease-in-out;
	}

	.collpase-open {
		width: 60px;
		transition: 0.3s ease-in-out;
	}

	.text-active {
		width: 80px;
		display: block;
		opacity: 1;
		transition: 0.3s ease-in-out;
	}

	.text-open {
		display: none;
		opacity: 0;
		transition-delay: 0.3s;
		transition: 0.5s ease-in-out;
	}
}
</style>
