@charset "UTF-8";
/* 第三方图标字体间距/大小设置
------------------------------- */
/* 文本不换行
------------------------------- */
/* 多行文本溢出
  ------------------------------- */
/* 滚动条(页面未使用) div 中使用：
  ------------------------------- */
/* Button 按钮
------------------------------- */
.el-button i.el-icon,
.el-button i.iconfont,
.el-button i.fa,
.el-button--default i.iconfont,
.el-button--default i.fa {
  font-size: 14px !important;
  margin-right: 5px;
}

.el-button--small i.iconfont,
.el-button--small i.fa {
  font-size: 12px !important;
  margin-right: 5px;
}

/* Input 输入框、InputNumber 计数器
------------------------------- */
.el-autocomplete-suggestion__wrap {
  max-height: 280px !important;
}

/* Form 表单
------------------------------- */
.el-form .el-form-item:last-of-type {
  margin-bottom: 0 !important;
}

/* Alert 警告
------------------------------- */
.el-alert {
  border: 1px solid;
}

.el-alert__title {
  word-break: break-all;
}

/* Message 消息提示
------------------------------- */
.el-message {
  min-width: unset !important;
  padding: 15px !important;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.02);
}

/* NavMenu 导航菜单
------------------------------- */
.el-menu-hover-bg-color, .el-menu-item.is-active,
.el-sub-menu.is-active .el-sub-menu__title, .el-menu-item:hover,
.el-sub-menu__title:hover {
  background-color: red !important;
  color: #FFF;
  background: linear-gradient(to right, #F7542E, #C64034);
}

.el-menu {
  border-right: none !important;
  --el-menu-item-height: 46px;
}

.el-menu--collapse {
  width: 60px !important;
}

.el-menu-item,
.el-sub-menu__title {
  color: var(--next-bg-menuBarColor);
}

.el-menu.el-menu--horizontal {
  border-bottom: none !important;
}

.el-menu-item {
  height: 50px !important;
  line-height: 50px !important;
}

.el-menu-item a,
.el-menu-item a:hover,
.el-menu-item i,
.el-sub-menu__title i {
  color: inherit;
  text-decoration: none;
}

.el-menu-item .iconfont,
.el-sub-menu .iconfont,
.el-menu-item .fa,
.el-sub-menu .fa {
  font-size: 14px !important;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
}

.el-menu-item.is-active i,
.el-menu-item.is-active span,
.el-sub-menu.is-active .el-sub-menu__title i,
.el-sub-menu.is-active .el-sub-menu__title span {
  color: #fff !important;
}

.el-sub-menu.is-opened {
  background-color: #2C364F;
}

.el-sub-menu.is-opened .el-sub-menu__title {
  background-color: #38425A !important;
}

.el-menu-item:hover,
.el-sub-menu__title:hover {
  color: #DDE1EC !important;
}

.el-popper.is-dark a {
  color: var(--el-color-white) !important;
  text-decoration: none;
}

.el-popper.is-light .el-menu--vertical .el-menu {
  background: var(--next-bg-menuBar);
}

.el-popper.is-light .el-menu--horizontal {
  background: var(--next-bg-topBar);
}

.el-popper.is-light .el-menu--horizontal .el-menu,
.el-popper.is-light .el-menu--horizontal .el-menu-item,
.el-popper.is-light .el-menu--horizontal .el-sub-menu__title {
  color: var(--next-bg-topBarColor);
  background: var(--next-bg-topBar);
}

/* Tabs 标签页
------------------------------- */
.el-tabs__nav-wrap::after {
  height: 1px !important;
}

/* Dropdown 下拉菜单
------------------------------- */
.el-dropdown-menu {
  list-style: none !important;
  /*修复 Dropdown 下拉菜单样式问题 2022.03.04*/
}

.el-dropdown-menu .el-dropdown-menu__item {
  white-space: nowrap;
}

/* Steps 步骤条
------------------------------- */
.el-step__icon-inner {
  font-size: 30px !important;
  font-weight: 400 !important;
}

.el-step__title {
  font-size: 14px;
}

/* Dialog 对话框
------------------------------- */
.el-overlay {
  overflow: hidden;
}

.el-overlay .el-overlay-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: unset !important;
  width: 100%;
  height: 100%;
}

.el-overlay .el-overlay-dialog .el-dialog {
  margin: 0 auto !important;
  border-radius: 6px;
  position: absolute;
}

.el-overlay .el-overlay-dialog .el-dialog .el-dialog__body {
  padding: 20px !important;
}

.el-dialog__header {
  border-radius: 6px;
  padding-bottom: 17px !important;
  padding-top: 17px !important;
  margin-right: 0;
  background: #f0f0f0 !important;
  font-size: 16px !important;
  font-family: PingFang SC !important;
  font-weight: bold !important;
  color: #222222 !important;
}

.el-dialog__body {
  max-height: calc(90vh - 111px) !important;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Card 卡片
------------------------------- */
.el-card__header {
  padding: 0 16px;
  height: 45px;
}

.el-card__header .card-header {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
  line-height: 20px;
}

.el-card__body {
  padding: 16px;
}

/* scrollbar
------------------------------- */
.el-scrollbar__bar {
  z-index: 4;
}

.el-scrollbar__wrap {
  max-height: 100%;
  /*防止页面切换时，滚动条高度不变的问题（滚动条高度非滚动条滚动高度）*/
}

.el-select-dropdown .el-scrollbar__wrap {
  overflow-x: scroll !important;
}

.el-select-dropdown__wrap {
  max-height: 274px !important;
  /*修复Select 选择器高度问题*/
}

.el-cascader-menu__wrap.el-scrollbar__wrap {
  height: 204px !important;
  /*修复Cascader 级联选择器高度问题*/
}

/* Drawer 抽屉
------------------------------- */
.el-drawer {
  --el-drawer-padding-primary: unset !important;
}

.el-drawer .el-drawer__header {
  padding: 0 15px !important;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
  border-bottom: 1px solid var(--el-border-color-base);
  color: var(--el-text-color-primary);
}

.el-drawer .el-drawer__body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.el-input {
  height: 32px;
}

.el-select__tags {
  height: 100%;
  overflow: auto;
}
